<div class="center-horizontally-container" id="login-shake-container">
  <form class="login-form-container" [formGroup]="form">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput #username type="text" formControlName="username" placeholder="Enter username" required>
      @for (validator of validators['username']; track validator) {
        <ng-template let-validator [ngForOf]="validators['username']" ngProjectAs="mat-error">
          @if (validator.hasError.call(this)) {
            <mat-error>
              {{validator.error}}
            </mat-error>
          }
        </ng-template>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput #password [type]="hide ? 'password' : 'text'" formControlName="password"
        placeholder="Enter password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      @for (validator of validators['password']; track validator) {
        <ng-template let-validator [ngForOf]="validators['password']" ngProjectAs="mat-error">
          @if (validator.hasError.call(this)) {
            <mat-error>
              {{validator.error}}
            </mat-error>
          }
        </ng-template>
      }
    </mat-form-field>

    <div class="login-buttons-div">
      <button id="spinnerWithoutText" mat-raised-button color="primary" [mtBasicSpinner]="loading" [hideText]="true"
        [disabled]="loading" (click)="onSubmit()">
        Login
      </button>
      <a mat-flat-button routerLink="/register">Register</a>
    </div>
  </form>

</div>
